[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pydocstyle = "*"
codecov = "*"

[packages]

[requires]
python_version = "3.4"
